<p id="notice"><%= notice %></p>
<div class="property_show">
  <div class="property_show_info">
  <p>Name:<%= @rental.name %></p>
  <p>Rent:<%= @rental.rent %></p>
  <p>Address:<%= @rental.address %></p>
  <p>Age:<%= @rental.age %></p>
  <p>Feedback:<%= @rental.feedback %></p>

  <%= link_to 'Edit', edit_rental_path(@rental) %> |
  <%= link_to 'Back', rentals_path %>
  </div>
</div>
